[Unit]
Description=APT Mirror Sync Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/apt-mirror
StandardOutput=append:/var/log/apt-mirror.log
StandardError=append:/var/log/apt-mirror.log
User=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
