[Unit]
Description=Daily Ubuntu Offline Mirror Sync

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=900
Unit=apt-mirror.service

[Install]
WantedBy=timers.target
